<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PegaAuthConfiguration</key>
	<dict>
		<key>authorize_uri</key>
		<string>https://lab-05423-bos.lab.pega.com/prweb/PRRestService/oauth2/v1/authorize</string>
		<key>client_id</key>
		<string>25795373220702300272</string>
		<key>keychain</key>
		<true/>
		<key>redirect_uris</key>
		<array>
			<string>com.pega.mobile.constellation.sample://redirect</string>
		</array>
		<key>token_uri</key>
		<string>https://lab-05423-bos.lab.pega.com/prweb/PRRestService/oauth2/v1/token</string>
		<key>use_pkce</key>
		<true/>
	</dict>
	<key>PegaCaseClassName</key>
	<string>DIXL-MediaCo-Work-DataPackage</string>
	<key>PegaSystemURL</key>
	<string>https://lab-05423-bos.lab.pega.com/prweb</string>
	<key>PegaVersion</key>
	<string>8.24.1</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nabla-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
