name: "Run lints"
on: workflow_dispatch
jobs:
  lint-shell:
    runs-on: 'ubuntu-latest'
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Lint shell scripts
      run: |
          sudo apt-get --yes install shellcheck
          find ".github" -iname "*.sh" | xargs -I {} sh -c 'echo && echo "======= Checking {}" && shellcheck {}'
          find "test" -iname "*.sh" | xargs -I {} sh -c 'echo && echo "======= Checking {}" && shellcheck {}'
